---
import Layout from "../Layouts/Layout.astro";
import LeaderboardDisplay from "../components/LeaderboardDisplay.astro";
---

<Layout title="SoloQChallenge">
  <main>
    <LeaderboardDisplay client:load />
  </main>
</Layout>
